/* Reset css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#add {
  padding: 10px 20px;
  margin: 10px auto;
}

.form,
.form-update {
  margin-top: 20px;
  width: 600px;
  margin: 0 auto;
}

.content {
  margin: 5px 50px;
}

.form__update {
  display: none;
}

.active {
  display: block;
}

.hidden {
  display: none;
}

.form__update.active {
  display: block;
  margin: 5px;
}

.list-coffee {
  display: flex;
  flex-wrap: wrap;
}

h2 {
  text-align: center;
}

h4 {
  width: 100%;
  height: 50px;
  padding: 10px 0px;
  word-wrap: break-word;
  white-space: normal;
}

h5 {
  width: 100%;
  height: 150px;
  padding: 10px 0px;
  margin: 5px 0px;
  font-weight: 100;
  word-wrap: break-word;
  white-space: normal;
  overflow-y: auto;
}
.item {
  width: 200px;
  padding: 10px;
  margin: 30px 30px;
  border: 1px solid #ccc;
  text-align: center;
}

.description {
  width: 100%;
  height: auto;
  padding: 40px 10px;
  word-wrap: break-word;
  white-space: normal;
}

.form {
  margin: 30px auto;
}

.button-edit {
  padding: 10px 15px;
  margin: 5px;
}

.button-update {
  padding: 10px 15px;
  margin-top: 90px;
}

.error {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: red;
}

.error-message {
  color: red;
}

.error-item {
  margin: 10px auto;
  color: red;
}